.borrarCatedraticoModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 10rem;
}

.borrarCatedraticoModal button + button {
  margin-left: 1rem;
}
